@import './variables.modules.scss';

.container {
    padding: $m;
    background-color: $third-color ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    color: white;
    text-align: center;
    box-shadow: -5px -5px 30px 5px $primary-color, 5px 5px 30px 5px $secondary-color;
    li {
        color: white;
        font-size: $m;
        font-weight: bold;
        text-align: center;
        margin-bottom: $s;
        cursor: pointer;
        transition: color ease-in-out .3s;

        &:hover {
            color: $primary-color;
        }
    }

}

.logo {
    -webkit-filter: drop-shadow( 9px 8px 7px rgba(0, 0, 0, .5));
    filter: drop-shadow( 7px 6px 5px rgba(0, 0, 0, .5));
    margin-bottom: $m;
}
